@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

:root{
  --ff-main: 'Josefin Sans', sans-serif;
  --fw-main: 400;
  --fw-bolder: 700;
}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

/* Utilities */

.flex-group{
  --flex-dir: row;
  --just-cont: space-between;
  --algn-itms: center;
  --gap: 1rem;
  
  display: flex;
  flex-direction: var(--flex-dir);
  justify-content: var(--just-cont);
  align-items: var(--algn-itms);
  gap: var(--gap);
}

/* Main CSS */

body{
  font-family: var(--ff-main);
  overflow-x: hidden;
}